@import "reset"

h1
	margin-bottom: 40px

.input_stnd
	border: 1px solid gray
	line-height: 30px
	padding: 0 10px

.todo_list
	transition: all .5s
	position: relative
	li
		margin-bottom: 20px
		background: #ffffff
		padding: 20px
		border-radius: 5px
		position: relative
		border: 1px solid #d0e6e6
		transition: all 0.5s

.task_cell
	padding: 0 30px
	position: relative
	span
		color: gray
		min-width: 100px
		display: inline-block

.delete_btn
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  background: transparent
  i
    font-size: 22px
    transition: .3s linear
  &:hover
    i
      color: #ab5f5f
      transition: .3s linear

.no_task
	padding: 30px 0
	transition: .3s linear

.input_box
	margin-bottom: 10px
	input
		border-radius: 3px
		width: 100%
		@extend .input_stnd

.add_task
	width: 200px
	margin-bottom: 40px
	position: relative

.btn_add
	width: 100%
	line-height: 30px
	border-radius: 3px
	color: #ffffff
	background: #00f
	transition: all ease 0.3s
	&:hover
		background: #5e5eab
	&:disabled
		pointer-events: none

.alert
	color: #e01313
	position: absolute
	top: 0
	transform: translateY(-120%)

.btn_change
	width: 100px
	line-height: 32px
	border-radius: 3px
	color: #ffffff
	background: #00f
	transition: all ease 0.3s
	&:hover
		background: #5e5eab

.btn_switch
	position: absolute
	top: 50%
	transform: translateY(-50%)
	background: transparent
	font-size: 16px
	left: 0
	&:hover
	    i
	      color: #ab5f5f

.edit_input
	width: 200px
	border-radius: 3px
	margin-right: 10px
	@extend .input_stnd

.switch_text
	padding: 10px 0 0 0