@import "reset"

h1
	margin-bottom: 30px

.todo_list
	li
		margin-bottom: 20px
		background: #ffffff
		padding: 20px
		border-radius: 5px
		position: relative
		border: 1px solid #d0e6e6

.task_cell
	span
		color: gray
		min-width: 100px
		display: inline-block

.delete_btn
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  i
    font-size: 22px
    transition: .3s linear
  &:hover
    i
      color: #ab5f5f
      transition: .3s linear

.no_task
	padding: 30px 0

.input_box
	margin-bottom: 10px
	input
		border: 1px solid gray
		border-radius: 3px
		line-height: 30px
		padding: 0 10px
		width: 100%

.add_task
	width: 200px
	margin-bottom: 40px

.btn_add
	width: 100%
	line-height: 30px
	border-radius: 3px
	color: #ffffff
	background: #00f
	transition: .3s linear
	&:hover
		background: #5e5eab